html, body {
    height: 100%;
    min-height: 100%;
}


body {
    background: url("https://images7.alphacoders.com/691/691169.jpg");
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
}
.page-wrap{
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 960px;  
}
div#navBar {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 75px;   
}
body section#topHeader{
    background-color: black;
    padding: 25px;
}
body div#picture img#profilePic{
    width: 600px;
    height: 600px;
    display: block;
    justify-content: space-around;
    margin: 0 auto;
    border: 2px solid white;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.55);
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.4em;
}
a{
    text-decoration: none;
    color: #fff
}
h1{
    color: black;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 2.5em;
}
h1 span {
    background-color: #fff;
    background-size:auto;
}
body section#title {
    background-color: black;
    padding: 25px;
}
h2 {
    color: black;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 2.5em;
    margin: 0 auto;
}
p span {
    background-color: #fff;
    background-size:auto;
}
p {
    color: black;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 1.5em;
    margin: 0 auto;
}